body{
    background: rgb(255, 253, 251);
    color: #282425;
    font-size: 16px;
    line-height: 2;
    font-family: 'Garamond', Arial, sans-serif;
    text-align: justify;
    margin: 0;
}

.header{
    background: rgb(223, 187, 162);
    padding: 1%;
    overflow: auto;
    margin: 0; /* margin-bottom: 0 */
}

.footer{
    background: rgb(223, 187, 162);
    font-size: 13px;
    padding: 2% 0 2% 50%;
}

h1 {
    color: #123C69;
    text-shadow:  1px 1px 1px rgba(0, 0, 0, 0.7); /*move in x, y, blur, color */
    font-size: 250%;
    font-family: 'Helvetica', serif;
    float: right;
    margin: 4% 30% 0% 3%; 
}   

h2 {
    color: rgb(223, 187, 162);
    background-color: #123C69;
    font-size: 25px;
    font-family: 'Helvetica', serif;
    text-align: left;
    padding-left: 2%;
    clear: right;
    margin: 2%; 
}

h3 {
    color: #123C69;
    padding: 0 0 0 2%;
    margin: 2% 0 1% 0;
}

a {
    color: black;
} 


.portrait {
    width: 110%; 
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.7);
    margin: 1%;
}

.menu {
    margin: 0; 
    padding: 0; 
    text-align: center;
    background-color: #282425;
    font-family: 'Helvetica', serif;
}

.menu li {
display: inline-block;
}

.menu a {
    color: rgb(255, 253, 251);
    font-size: 18px;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    display: inline-block;
}

.menu a:hover,
.menu a:focus,
.menu a:active {
    background-color: gray;
}


.social-icons {
    display: flex;
    align-items: center; /* Aligns all icons horizontally */
    gap: 20px; /* Ensures even spacing between icons */
}

.social-icons a {
    text-decoration: none;
}

.social-icons i {
    font-size: 35px; /* Same size for GitHub & LinkedIn */
    color: black;
    transition: color 0.3s, transform 0.2s;
}

.social-icons i:hover {
    color: gray;
    transform: scale(1.1);
}

.social-icons a[href*="linkedin"] i {
    color: #0077b5; /* LinkedIn blue */
}

.icon-img {
    width: 35px; /* Same size as GitHub & LinkedIn icons */
    height: 35px; /* Ensures uniform size */
    object-fit: contain; /* Ensures SVGs stay sharp */
    transition: transform 0.2s ease-in-out;
}

.icon-img:hover {
    transform: scale(1.1);
}



table {
    width: 95%;
    line-height: 2;  /* space between lines of text */
    border-spacing: 0;
    text-align: justify;
    border-collapse: collapse;
    border-style: hidden;
    margin: 2%;
    
}

table td, table th {
    border: 3px solid rgb(223, 187, 162);
    border-bottom: 0;
    border-top: 0;
    padding-left: 2%;
    padding-right: 2%;
    
    
}

table tr td:first-child {
    width: 15%;
}

table tr td:last-child {
    width: 80%;
}

.work_experience table,
.scientific_awards table  {
    line-height: 2.5; 
}

.space td {
    padding-bottom: 1%;
}

.journalpapers li,
.conferencepapers li,
.thesis li {
    margin-bottom: 5%;
}

